<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		
		<mapping resource="cn/itcast/entity/Goods.hbm.xml"/>
		<mapping resource="cn/itcast/entity/Adm.hbm.xml"/>
		<mapping resource="cn/itcast/entity/User.hbm.xml"/>
		<mapping resource="cn/itcast/entity/ShopCar.hbm.xml"/>
		<mapping resource="cn/itcast/entity/Order.hbm.xml"/>
		<mapping resource="cn/itcast/entity/Category.hbm.xml"/>
		<mapping resource="cn/itcast/entity/Size.hbm.xml"/>
		<mapping resource="cn/itcast/entity/Area.hbm.xml"/>
	</session-factory>
</hibernate-configuration>